@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
 /* Colors */
  --bg-white: #fff;
  --bg-grey: #F2F2F2;

  --primary-blue: #0065FC;
  --primary-grey: #D3D3D3FF;

  --border-grey: #F2F2F2;

 /* Font */
 --font-family: 'Raleway';
}

html {
  background-color: var(--bg-white);
}

body {
  font-family: var(--font-family), sans-serif;
  max-width: 1500px;
  margin: auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {

}

h2 {
  font-size: 15px;
  font-weight: 600;
}

/** Header **/

.top-title {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr 5px 2fr 5px 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "logo . nav-heber . nav-activ . login";
  margin-left: 20px;
  margin-right: 20px;
}

.header-logo {
  grid-area: logo;
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }
}

.header-nav-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--border-grey);

  a {
    color: inherit;
  }

  &:hover {
    border-top: 2px solid var(--primary-blue);
    color: var(--primary-blue);
    font-weight: 600;
  }
}

.header-nav-hebergement {
  grid-area: nav-heber;
}

.header-nav-activity {
  grid-area: nav-activ;
}

.header-login {
  grid-area: login;
  display: flex;
  align-items: center;
  margin-right: 5px;

  a {
    font-weight: 700;
    color: var(--primary-blue);
  }
}

/** Information **/

/** Titre**/
.info {
  display: flex;
  flex-direction: column;
}

.info-title {
  font-size: 12px;
  line-height: 40px;

  h1 {
    line-height: 40px;
    font-weight: 600;
    font-size: 20px;
  }

  p {
    margin-top: -15px;
  }
}

/**Barre de recherche**/

.flexForm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
}

.flexForm_icon {
  position: relative;
  right: -1px;

  i {
    font-size: 12px;
    padding: 12.5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--bg-grey);
  }
}

.flexForm_search {
  height: 36px;
  width: 180px;
  padding-left: 5px;
  border: 1px solid var(--border-grey);

  &::placeholder {
    color: black;
    font-weight: 600;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    border-block: 2px solid var(--border-grey)
  }
}


.info-logo-search {
  background-color: var(--primary-blue);
  color: #fff;
  padding: 10.5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  left: -11px;
}

.info-img-search {
  display: none;
}

/**Filtre**/

.info-filter {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 20px;
  gap: 20px;
}

.container_1,
.container_2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn:hover {
  color: var(--primary-blue);
  background-color: var(--bg-grey);
}

.btn-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 2px solid var(--border-grey);
  padding-left: 40px;
  padding-right: 10px;
  border-radius: 25px;
  font-weight: 600;
  height: 45px;
  transition: background .2s ease-in-out;

  i {
    background-color: #deebff;
    position: absolute;
    width: 45px;
    height: 45px;
    text-align: center;
    left: -10px;
    padding-top: 15px;
    border-radius: 25px;
    color: var(--primary-blue);
    border: none;
  }
}

/** Résultat Recherche **/

.search-result {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.search-result i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 2px solid var(--border-grey);
  border-radius: 50%;
  color: var(--primary-blue);
}

.search-result p {
  font-size: 15px;
  font-weight: 200;
}

/** Middle Content**/

.middle-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.card {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);

  &:hover {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
}

/** Hébergement **/

.hebergment {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--bg-grey);
  width: 68%;
  height: 600px;
  padding: 10px;
  border-radius: 15px;
}

.hebergment-title {
  background: inherit;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.hebergment-title h2 {
  background: inherit;
  font-size: 20px;
}

.hebergment-card {
  background-color: inherit;
}

.hebergment-line-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 35px;
  background: inherit;
}

.hebergment-line-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  background: inherit;
}

.card-hebergment {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: white;
  border-radius: 15px;
  height: auto;
  line-height: 25px;
}

.card-hebergment-description {
  padding: 10px;
}

.card-hebergment img {
  width: 240px;
  height: 120px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 5px 0 5px;
  object-fit: cover;
}

.card-hebergment-detail {
  margin-left: 10px;
}
.card-hebergment-detail h3 {
  font-weight: 600;
}

.card-hebergment-star {
  margin-left: 10px;
  color: var(--primary-grey);
  i.active {
    color: var(--primary-blue);
  }
}

.showMore {
  padding-top: 25px;
  padding-left: 35px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: var(--primary-blue)
  }
}

/**Les plus populaire**/

.most-popular {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--bg-grey);
  border-radius: 15px;
  padding: 20px;
  width: 26%;
  height: 600px;
  overflow: hidden;
}

.most-popular-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: inherit;
  margin-top: 10px;
}

.most-popular h2 {
  background: inherit;
  font-size: 20px;
}

.most-popular-card {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  margin-top: 10px;
}

.card-popular {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 130px;
  margin: 15px 10px 40px 0;
  background: #fff;
  padding: 5px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  font-size: 15px;

  i {
    color: var(--primary-grey);

    &.active {
      color: var(--primary-blue);
    }
  }
}

.alone {
  margin-top: 0;
}

.card-popular-img {
  display: flex;
}

.card-popular img {
  width: 110px;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: 5px;
}

.card-popular-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
}

.card-popular-info h3 {
  font-weight: 600;
}

/** Activités **/

.activity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  background: #fff;
}

.activity h2 {
  font-size: 20px;
}

.activity-title {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.activity-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;

}

.card-activity {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;

  img {
    flex: 1;
    object-fit: cover;
  }

  &.md_up, &.md_down {
    img {
      margin: 10px 10px 0 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .card-activity_caption {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.lg {
    grid-row: 1 / 4;
  }

  &.md_up {
    grid-row: 1 / 3
  }

  &.md_down {
    grid-row: 2 / 4
  }

  &.sm_up {
    grid-row: 1 / 2;
  }

  &.sm_down {
    grid-row: 3 / 4;
  }


}

.activity-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.activity-card_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/** Big Card **/
.activity-bigCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 30px;
  width: 280px;
  height: 460px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.activity-bigCard img {
  width: 100%;
  height: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.activity-bigCard figcaption {
  margin: 15px 0 0 15px;
  font-weight: 700;
}

/*** Two Card ***/

.twoCard {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 5px;
  height: 489px;
  background: transparent;
}

/** Middle Card **/

.activity-middleCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  width: 280px;
  margin: 10px 0;
  padding: 0px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.activity-middleCard figure {
  margin: 0;
  border: none;
  border-radius: 15px;
  padding-bottom: 20px;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.03);
}

.activity-middleCard img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.activity-middleCard figcaption {
  margin: 15px 0 0 15px;
  font-weight: 700;
}

/** Litle Card **/

.activity-littleCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  width: 280px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.down {
  margin-top: 32px;
  margin-bottom: 10px;
}

.up {
  margin-top: 10px;
  margin-bottom: 32px;
}

.activity-littleCard figure {
  margin: 0;
  border: none;
  border-radius: 15px;
  padding-bottom: 20px;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.03);
}

.activity-littleCard img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.activity-littleCard figcaption {
  margin: 15px 0 0 15px;
  font-weight: 700;
}

/** Footer **/

footer,
footer h2,
footer section,
footer ul,
footer li,
footer a {
  background-color: var(--bg-grey);
}

footer {
  display: flex;
  justify-content: flex-start;
}

footer li {
  list-style: none;
  margin-left: 5px;
  line-height: 25px;
}

footer section {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 90px;
  margin-right: 90px;
}

.footer-about {
  margin-left: 15px;
}

.footer-assist {
  margin-right: 15px;
}

footer h2 {
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}
