/*  Reset CSS */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

/*  Fin du reset CSS */

html {
  font-family: "Raleway", sans-serif;
  background-color: #fff;
}

body {
  max-width: 1500px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 20px;
  font-weight: 700;
}

h2 {
  font-size: 15px;
  font-weight: 600;
}

/* Couleur icone */
.blue {
  color: #0065fc;
}

.grey {
  color: lightgrey;
}

/** Header **/

.top-title {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr 5px 2fr 5px 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "logo . nav-heber . nav-activ . login";
  margin-left: 20px;
  margin-right: 20px;
}

.header-logo {
  grid-area: logo;
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 100%;
}

.header-nav-hebergement {
  grid-area: nav-heber;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #f2f2f2;
}

.header-nav-activity {
  grid-area: nav-activ;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #f2f2f2;
}

.header-nav-hebergement:hover,
.header-nav-activity:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  font-weight: 600;
}

.header-nav-activity a,
.header-nav-hebergement a {
  color: inherit;
}

.header-login {
  grid-area: login;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.header-login a {
  font-weight: 700;
  color: #0065fc;
}

/** Information **/

/** Titre**/
.info {
  display: flex;
  flex-direction: column;
}

.info-title {
  font-size: 12px;
  line-height: 40px;
  margin-left: 20px;
}

.info-title h1 {
  line-height: 40px;
  font-weight: 600;
}

.info-title p {
  margin-top: -15px;
}

/**Barre de recherche**/

.flexForm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0 20px 20px;
}

.flexForm_icon {
  position: relative;
  right: -1px;
}

.flexForm_icon i {
  font-size: 12px;
  padding: 12.5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f2f2f2;
}

.flexForm_search {
  height: 36px;
  width: 180px;
  padding-left: 5px;
  border: 1px solid #f2f2f2;
}

.flexForm_search::placeholder {
  color: black;
  font-weight: 600;
  opacity: 0.5;
}

input:focus {
  outline: none;
  border: 1px solid #f2f2f2;
}

.info-logo-search {
  background-color: #0065fc;
  color: #fff;
  padding: 10.5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  left: -11px;
}

.info-img-search {
  display: none;
}

button:hover {
  cursor: pointer;
}

/**Filtre**/

.info-filter {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
}

.info-filter h2 {
  margin-right: 20px;
  margin-left: 10px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container_1,
.container_2 {
  display: flex;
  flex-direction: row;
}

.btn:hover {
  color: #0065fc;
  background-color: #f2f2f2;
  cursor: pointer;
}

button {
  text-decoration: none;
  border: none;
  background: transparent;
}

.btn-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 2px 0 15px;
  border: 2px solid #f2f2f2;
  padding-left: 40px;
  border-radius: 25px;
  font-weight: 600;
}

/* Taille boutons */

.btn-little {
  height: 45px;
  width: 110px;
}

.btn-middle {
  height: 45px;
  width: 130px;
}

.btn-bigger {
  height: 45px;
  width: 180px;
}

.btn-filter i {
  background-color: #deebff;
  position: absolute;
  width: 45px;
  height: 45px;
  text-align: center;
  left: -10px;
  padding-top: 15px;
  border-radius: 25px;
}

/** Résultat Recherche **/

.search-result {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.search-result i {
  text-align: center;
  font-size: 12px;
  width: 30px;
  height: 30px;
  padding: 6px;
  margin-right: 10px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
}

.search-result p {
  font-size: 15px;
  font-weight: 200;
}

/** Middle Content**/

.middle-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
/** Hébergement **/

.hebergment {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f2f2f2;
  width: 68%;
  height: 600px;
  padding: 10px;
  border-radius: 15px;
}

.hebergment-title {
  background: inherit;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.hebergment-title h2 {
  background: inherit;
  font-size: 20px;
}

.hebergment-card {
  background-color: inherit;
}

.hebergment-line-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 35px;
  background: inherit;
}

.hebergment-line-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  background: inherit;
}

.card-hebergment {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  height: auto;
  line-height: 25px;
}

.card-hebergment img {
  width: 240px;
  height: 120px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 5px 0 5px;
  object-fit: cover;
}

.card-hebergment-detail {
  margin-left: 10px;
}
.card-hebergment-detail h3 {
  font-weight: 600;
}

.card-hebergment-star {
  margin-left: 10px;
}

.showMore {
  padding-top: 25px;
  padding-left: 35px;
  font-weight: 600;
}

/**Les plus populaire**/

.most-popular {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px;
  width: 26%;
  height: 600px;
}

.most-popular-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: inherit;
  margin-top: 10px;
}

.most-popular h2 {
  background: inherit;
  font-size: 20px;
}

.most-popular-card {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  margin-top: 10px;
}

.card-popular {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 130px;
  margin: 15px 10px 40px 0;
  background: #fff;
  padding: 5px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  font-size: 15px;
}

.alone {
  margin-top: 0;
}

.card-popular-img {
  display: flex;
}

.card-popular img {
  width: 110px;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: 5px;
}

.card-popular-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
}

.card-popular-info h3 {
  font-weight: 600;
}

/** Activités **/

.activity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  background: #fff;
}

.activity h2 {
  font-size: 20px;
}

.activity-title {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.activity-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.activity-card_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.activity-card_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/** Big Card **/
.activity-bigCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 30px;
  width: 280px;
  height: 460px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.activity-bigCard img {
  width: 100%;
  height: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.activity-bigCard figcaption {
  margin: 15px 0 0 15px;
  font-weight: 700;
}

/*** Two Card ***/

.twoCard {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 5px;
  height: 489px;
  background: transparent;
}

/** Middle Card **/

.activity-middleCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  width: 280px;
  margin: 10px 0;
  padding: 0px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.activity-middleCard figure {
  margin: 0;
  border: none;
  border-radius: 15px;
  padding-bottom: 20px;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.03);
}

.activity-middleCard img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.activity-middleCard figcaption {
  margin: 15px 0 0 15px;
  font-weight: 700;
}

/** Litle Card **/

.activity-littleCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  width: 280px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.down {
  margin-top: 32px;
  margin-bottom: 10px;
}

.up {
  margin-top: 10px;
  margin-bottom: 32px;
}

.activity-littleCard figure {
  margin: 0;
  border: none;
  border-radius: 15px;
  padding-bottom: 20px;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.03);
}

.activity-littleCard img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.activity-littleCard figcaption {
  margin: 15px 0 0 15px;
  font-weight: 700;
}

/** Footer **/

footer,
footer h2,
footer section,
footer ul,
footer li,
footer a {
  background-color: #f2f2f2;
}

footer {
  display: flex;
  justify-content: flex-start;
}

footer li {
  list-style: none;
  margin-left: 5px;
  line-height: 25px;
}

footer section {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 90px;
  margin-right: 90px;
}

.footer-about {
  margin-left: 15px;
}

.footer-assist {
  margin-right: 15px;
}

footer h2 {
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}
